<div class="card">
  <div class="card-header">Alumnos IRIC</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>filtros:</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngif="alumnos.length">
        <thead>
          <tr>
            <th></th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Pago</th>
            <th>Imagen</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>