<div class="card">
  <div class="card-header">
    Alumnos IRIC
  </div>
  <div class="card-body">
    <div class="classrow">
      <div class="col-md-2">
        <input [(ngModel)]="listFilter"
               type="text"
               name="filter"
               class="form-control">
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-4">
        Filtrar Por:
        <input [(ngModel)]="listFilter"
               type="text"
               name="filter"
               class="form-control">
      </div>
      <div class="table-responsive">
        <table class="table"
               *ngIf="alumnos.length">
          <thead>
            <tr>
              <th><button class="btn btn-primary"
                        (click)="showImagen()">imagen</button></th>
              <th>Matricula</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Pago</th>
              <th>Calificación</th>
              <th>Foto</th>
              <th>Calif</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alumnos |alumnosFilter:listFilter">
              <td></td>
              <td>{{item.matricula}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.pago}}</td>
              <td>{{item.calif}}</td>
              <td><img *ngIf="muestraImg"
                     [src]="item.foto"
                     [title]="item.nombre"
                     [style.width.px]="imageWidth"
                     [style.margin.px]="imageMargin"></td>
              <td><app-calificacion-alum [califica]="item.calif"></app-calificacion-alum></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>