<app-menu></app-menu>
<div class="container">
  <div class="row">
    <!-- <p>Hola mundo</p>

    <div>{{title}}</div>

    <div>La suma de 2+2 {{2+2}}</div>
    <div>El doble de 3 es: {{dupliValor(3)}}</div>
    <h2>Alumno IDGS904</h2>
    <div>El doble de 3 es: {{dupliValor(3)}}</div>
    <h2>Alumno IDGS904</h2>

    <div>
      <b>Matricula:</b> {{Alumnos.matricula}}
    </div>
    <div>
      <b>Nombre:</b> {{Alumnos.nombre}}
    </div>
    <div>
      <b>Fecha nacimeinto:</b> {{Alumnos.fechaNacimiento | date}}
    </div>
    <div>
      <b>pago:</b> {{Alumnos.pagoIns | currency}}
    </div>
    <br>
    <app-escuela></app-escuela>
    <app-alumno></app-alumno>
    <app-iric></app-iric> -->
    <app-sumar></app-sumar>
    <app-operasbas></app-operasbas>
  </div>
</div>