<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IDGS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item ">
                        <a href="" class="nav-link">Home</a>
                      </li>
                      <li class="nav-item">
                        <a href="nav-link" class="nav-link" routerlink="IriComponent">Iric Component</a>
                      </li>
                      <li class="nav-item">
                        <a href="nav-link" class="nav-link" routerlink="OperasBasComponent">OperasBas</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>